.terminal {
  width: 100%;
  
  box-shadow: 2px 4px 10px rgba(0,0,0,0.5);

  margin-bottom: 20px;
}

.terminal__bar {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
}

.bar__buttons {
  display: flex;
  align-items: center;
}

.bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}
.bar__button:hover {
  cursor: pointer;
}
.bar__button:focus {
  outline: none;
}
.bar__button__exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
  background-clip: padding-box;
}

.bar__user {
  color: #d5d0ce;
  margin-left: 6px;
  line-height: 15px;
}

.terminal__body {
  background: black;
  font-family: monospace;
  padding: 10px;
  margin-top: -1px;
  font-size: 15px;
}

.terminal__prompt {
  display: flex;
}
.terminal__prompt__user {
  color: #7eda28;
}
.terminal__prompt__location {
  color: #4878c0;
}
.terminal__prompt__bling {
  color: #dddddd;
}
.terminal__prompt__cursor {
  display: block;
  height: 17px;
  width: 8px;
  margin-left: 9px;
  animation: blink 1200ms linear infinite;
}
.terminal__prompt__copy {
  background-color: white;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 80%;
  vertical-align: middle;
}
.terminal__prompt__command {
  color: #dddddd;
  white-space: pre-wrap;
}
.terminal__body:hover {
  cursor: pointer;
}
.terminal__body:hover .terminal__prompt__command {
  background-color: #dddddd;
  color: rgba(56, 4, 40, 0.9);
}
.terminal__output {
  margin-top: 5px;
  color: #dddddd;
  overflow-x: scroll;
}

.terminal__output::-webkit-scrollbar {
  width: 11px;
    height: 11px;
}

.terminal__output::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.terminal__output::-webkit-scrollbar-thumb {
  background-color: #bfbfc0;    /* color of the scroll thumb */
  border-radius: 6px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

.terminal__output pre {
  margin: 0;
  all: unset;
  white-space: pre;
}