apiVersion: awsblueprints.io/v1alpha1
kind: DynamoDBTable
metadata:
  name: "${EKS_CLUSTER_NAME}-carts-crossplane"
spec:
  dynamoConfig:
    attribute:
      - name: id
        type: S
      - name: customerId
        type: S
    globalSecondaryIndex:
      - name: idx_global_customerId
