apiVersion: v1
kind: Service
metadata:
  name: catalog-mysql-ebs
  namespace: catalog
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: mysql
      protocol: TCP
      name: mysql
  selector:
    app.kubernetes.io/name: catalog
    app.kubernetes.io/instance: catalog
    app.kubernetes.io/component: mysql-ebs
