.browserWindow {
  border: 3px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  margin-bottom: var(--ifm-leading);
}

.browserWindowHeader {
  align-items: center;
  background: var(--ifm-color-emphasis-200);
  display: flex;
  padding: 0.5rem 1rem;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.buttons {
  white-space: nowrap;
}

.right {
  align-self: center;
  width: 10%;
}

[data-theme='light'] {
  --ifm-background-color: #fff;
}

.dot {
  margin-right: 6px;
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.browserWindowMenuIcon {
  margin-left: auto;
}

.bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

.browserWindowBody {
  background-color: var(--ifm-background-color);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  overflow-x: scroll;
  background: #1E1E1E;
  padding: 10px;
}

.browserWindowBody::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

.browserWindowBody::-webkit-scrollbar-track {
  background: transparent;
}

.browserWindowBody::-webkit-scrollbar-thumb {
  background-color: #bfbfc0;
  border-radius: 6px; 
  border: 3px solid #1E1E1E;
}

.browserWindowBody *:last-child {
  margin-bottom: 0;
}

.terminalBody {
  background: #1E1E1E;
  font-family: monospace;
  margin-top: -1px;
  font-size: 15px;
}

.terminalPrompt {
  display: flex;
}
.terminalPromptUser{
  color: #7eda28;
  white-space: pre;
}
.terminalPromptLocation {
  color: #4878c0;
}
.terminalPromptBling {
  color: #dddddd;
  margin-right: 10px;
}
.terminalPromptCursor {
  display: block;
  height: 17px;
  width: 8px;
  margin-left: 9px;
  animation: blink 1200ms linear infinite;
}
.terminalPrompt__copy {
  background-color: white;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 80%;
  vertical-align: middle;
}
.terminalPromptCommand {
  color: #dddddd;
  white-space: pre;
}
.terminalBody:hover {
  cursor: pointer;
}
.terminalBody:hover .terminalPromptCommand {
  background-color: #dddddd;
  color: #1E1E1E;
}
.terminalOutput {
  margin-top: 5px;
  color: #dddddd;
}

.terminalOutput pre {
  margin: 0;
  all: unset;
  white-space: pre;
}

.copyAll:hover {
  cursor: pointer;
  color: #1E1E1E;
}
