# MacOS
.DS_Store

# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan

# Crash log files
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

vendor
builds

public
resources

env

.vscode
*.zip

cdk.out
