/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-hero-background-color: #000716;
  --ifm-navbar-background-color: #000716;
  --ifm-navbar-link-color: #d1d5db;
  --ifm-navbar-link-hover-color: #ff9900;
  --ifm-menu-color: #414d5c;
  --ifm-menu-color-active: #0972d3;
  --ifm-breadcrumb-color-active: #0972d3;
  --ifm-link-color: #0972d3;
  --ifm-footer-background-color: #0f1b2a;
  --ifm-footer-link-color: #d1d5db;
  --ifm-footer-title-color: #d1d5db;
  --ifm-footer-color: #d1d5db;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-tabs-color-active: #0972d3;
  --ifm-tabs-color-active-border: #0972d3;
  --doc-sidebar-width: 350px !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-navbar-background-color: #000716;
  --ifm-background-color: #0f1b2a;
  --ifm-menu-color: #d1d5db;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__title {
  margin-left: 1rem;
  margin-right: 2rem;
}

.footer {
  font-size: 12px;
}

.code-block-highlight {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

.theme-doc-toc-desktop {
  display: none;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%2024%2024%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3A%23ffffff%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%27M12%20.297c-6.63%200-12%205.373-12%2012%200%205.303%203.438%209.8%208.205%2011.385.6.113.82-.258.82-.577%200-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422%2018.07%203.633%2017.7%203.633%2017.7c-1.087-.744.084-.729.084-.729%201.205.084%201.838%201.236%201.838%201.236%201.07%201.835%202.809%201.305%203.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93%200-1.31.465-2.38%201.235-3.22-.135-.303-.54-1.523.105-3.176%200%200%201.005-.322%203.3%201.23.96-.267%201.98-.399%203-.405%201.02.006%202.04.138%203%20.405%202.28-1.552%203.285-1.23%203.285-1.23.645%201.653.24%202.873.12%203.176.765.84%201.23%201.91%201.23%203.22%200%204.61-2.805%205.625-5.475%205.92.42.36.81%201.096.81%202.22%200%201.606-.015%202.896-.015%203.286%200%20.315.21.69.825.57C20.565%2022.092%2024%2017.592%2024%2012.297c0-6.627-5.373-12-12-12%27%2F%3E%3C%2Fsvg%3E")
    no-repeat;
}

.colorModeToggle_node_modules-\@docusaurus-theme-classic-lib-theme-Navbar-Content-styles-module {
  color: white;
}

.hero--primary {
  background-color: #000716;
}

.footer {
  &.footer--dark {
    --ifm-footer-background-color: var(--deepdark);
  }

  .container {
    max-width: 500px;
  }

  .text--center {
    color: #858a96;
    font-size: 13px;
  }

  .footer__item {
    font-size: 14px;
    padding: 8px 0 0;
    min-height: 30px;

    a:hover svg {
      color: var(--brand);
    }
  }

  .footer__title {
    color: #858a96;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 8px;
    text-transform: uppercase;
  }

  .footer__col {
    margin: 4px 0 12px 2%;
    padding-left: 0 !important;
  }

  .footer__link-item {
    line-height: 1.44;
    display: inline-block;
  }

  .footer__links {
    margin-bottom: 8px;
  }

  .footer__logo {
    height: 54px;
    max-width: 100%;
  }

  svg[class^="iconExternalLink"] {
    color: var(--subtle);
    right: -1px;
    width: 9px;
  }
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  margin-left: 5px;
}

.info {
  background-color: #65afd3;

}

.lab {
  background-color: #6c757d;
}

.category-wrapper {
  display: flex;
  width: 100%;
}

.navbar__toggle {
  color: #d1d5db;
}

.navbar-sidebar__item .menu__link {
  color: #d1d5db;
}

.navbar-sidebar__back {
  color: #d1d5db;
}
