apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
spec:
  template:
    spec:
      tolerations:
        - key: "frontend"
          operator: "Exists"
          effect: "NoExecute"
      nodeSelector:
        kubernetes.io/arch: arm64
