apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../dynamo
configMapGenerator:
- name: carts-env
  namespace: carts
  env: config.properties
vars:
- name: CARTS_IAM_ROLE
  objref:
    kind: ConfigMap
    name: carts-env
    apiVersion: v1
  fieldref:
    fieldpath: data.CARTS_IAM_ROLE
patches:
- carts-serviceAccount.yaml
