.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: white;
  color: rgb(28, 30, 33);
}

[data-theme="dark"] .features {
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

.featureSvg {
  height: 200px;
  width: 200px;
}
