apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../../../manifests/carts
configMapGenerator:
- name: carts-dynamo
  namespace: carts
  env: config.properties
resources:
- nlb.yaml
patches:
- path: carts-deployment.yaml
  target:
    group: apps
    version: v1
    kind: Deployment
    name: carts
    namespace: carts
patchesStrategicMerge:
- carts-configMap.yaml