apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../../../manifests/carts
configMapGenerator:
- name: carts
  namespace: carts
  env: config.properties
  behavior: replace
  options:
    disableNameSuffixHash: true
resources:
- nlb.yaml
