name: Markdownlint

on:
  workflow_dispatch:
  pull_request:
    branches:
    - main
    paths:
    - website/**

permissions:
  contents: read
  pull-requests: write
    
jobs:
  markdownlint-cli:
    name: markdownlint-cli
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: markdownlint-github-pr-review
      uses: reviewdog/action-markdownlint@v0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        filter_mode: nofilter
        reporter: github-check
        markdownlint_flags: website/docs/**/*.md