name: Test - Networking

on:
  workflow_dispatch:
  schedule:
  - cron: '0 7 * * 3'

permissions:
  id-token: write
  contents: read

jobs:
  test-module:
    uses: ./.github/workflows/module-test.yml
    with:
      module: networking
    secrets: inherit